.selector {
  width: 100%;
  font-size: 16px;
}

.contents {
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 70px;
}

@media screen and (max-width: 1000px) {
  .container {
    width: 85%;
  }

  .contents {
    grid-template-columns: repeat(2, 1fr);
    padding: 55px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    width: 90%;
  }

  .contents {
    grid-template-columns: 1fr;
    padding: 40px;
  }
}